$btn_color:#20d4c6;
$icon_color:#6c20d4;
$item_color:#3bccbf;
$shadow_color:#326260;
$elements_color: linear-gradient(180deg, #20d4c6 0%, #6c20d4 100%);
$font_color:#3a3a39;
$subfont_color:#89929b;
$box_shadow:0px 8px 120px rgba(0, 0, 0, 0.1);
$hover_item:  #6c20d4;
$background_color:#ffffff;
$dopback_color:#f4eff896;

$btn_color2:#37a460;
$icon_color2:#1e5387;
$item_color2:#76c578;
$shadow_color2:#326260;
$elements_color2: linear-gradient(180deg, #37a460 0%, #1e5387 100%);
$hover_item2:  #1e5387;
$background_color:#ffffff;
$dopback_color2:#eff5f896;
